
h1,.content {
    color:darkgrey;
    font-family: 'Linden Hill', serif; 
}

h1 {
  font-size: 40px;
}

marquee {
  margin-top: 10px;
  font-size: 20px;
}

.content img {
    max-width: 100%;
  }
  
  .content {
    max-width: 800px;
    margin: 50px auto;
  }


